{% extends "base.html" %}
{% block title %}Add Assets{% endblock %}
{% block pagecontent %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Add Assets</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Assets</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    Entry of new asset into the system.
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <form action="/add_asset" method="post">
                    <div class="mb-3">

                        <div class="col-md-4">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                <span class="closebtnalert" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>


                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input required="true" class="form-control" id="serialno" name="serialno" type="text"
                                       placeholder="Enter Serial Number"/>
                                <label for="serialno">Enter Asset Serial Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input required="true" class="form-control" id="taggingid" name="taggingid" type="text"
                                       placeholder="Enter Tagging ID"/>
                                <label for="taggingid">Enter Asset Tag</label>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assetstate" name="assetstate" type="text"
                                        placeholder="Select State of Asset"/>
                                {% for asset_state in assetState %}
                                <option value="{{asset_state.asset_state}}">
                                    {{asset_state.asset_state}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetstate">Select State of Asset</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input required="true" class="form-control" id="assetmodel" name="assetmodel"
                                       type="text"
                                       placeholder="Model of the Asset"/>
                                <label for="assetmodel">Model of the Asset</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assetcondition" name="assetcondition" type="text"
                                        placeholder="Select Condition of Asset"/>
                                {% for asset_condition in assetCondition %}
                                <option value="{{asset_condition.condition_state}}">
                                    {{asset_condition.condition_state}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetcondition">Select Condition of Asset</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assignedto" name="assignedto" type="text"
                                        placeholder="Select Employee ID"/>
                                {% for employee_id in employeeDetails %}
                                <option value="{{employee_id}}">
                                    {{employee_id}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetstockroom">Select Employee ID</label>
                                <!--                                <input required="true" class="form-control" id="assignedto" name="assignedto" type="text" placeholder="Assigned To"/>-->
                                <!--                                <label for="assignedto">Assigned To</label>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assetstockroom" name="assetstockroom" type="text"
                                        placeholder="Select Stockroom"/>
                                {% for stockroom_mgmt in stockroomMgmt %}
                                <option value="{{stockroom_mgmt.building}} - {{stockroom_mgmt.room_number}}">
                                    {{stockroom_mgmt.building}} - {{stockroom_mgmt.room_number}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetstockroom">Select Building & Room</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                        </div>
                        <!--                                    <div class="d-grid"><a class="btn btn-primary btn-block" href="{{ url_for('insert_stockroomdata') }}">Add</a></div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
{% endblock %}