{% extends "base.html" %}
{% block title %}Asset Retirement{% endblock %}
{% block pagecontent %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Asset Retirement</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Assets</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    Request for Asset Retirement from System
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <form action="/asset_retirement" method="post">
                    <div class="mb-3">

                        <div class="col-md-4">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                 <span class="closebtnalert" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="serialno" name="serialno" type="text"
                                        placeholder="Select Model"/>
                                {% for asset_data in assetData %}
                                <option value="{{asset_data.serial_no}}">
                                    {{asset_data.serial_no}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="serialno">Select Asset Serial No</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assettag" name="assettag" type="text"
                                        placeholder="Select Model"/>
                                {% for asset_data in assetData %}
                                <option value="{{asset_data.asset_tag}}">
                                    {{asset_data.asset_tag}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assettag">Select Asset Tag</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assetmodel" name="assetmodel" type="text"
                                        placeholder="Select Model"/>
                                {% for asset_data in assetData %}
                                <option value="{{asset_data.asset_model}}">
                                    {{asset_data.asset_model}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetmodel">Select Asset Model</label>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="assetstockroom1" name="assetstockroom1" type="text"
                                        placeholder="Select Warehouse for Disposal"/>
                                {% for asset_data in assetData %}
                                <option value="{{asset_data.asset_location}}">
                                    {{asset_data.asset_location}}
                                </option>
                                {% endfor %}
                                </select>
                                <label for="assetstockroom1">Select Warehouse for Disposal</label>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <p>Is Hard Drive Disposed ?</p>
                            <input type="radio" id="harddriveyes" name="fav_language" value="Yes">
                            <label for="harddriveyes">Yes</label><br>
                            <input type="radio" id="harddriveno" name="fav_language" value="No">
                            <label for="harddriveno">No</label><br>
                            <div class="form-floating mb-3"></div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input required="true" class="form-control" type="date" id="disposaldate"
                                       name="disposaldate" placeholder="Enter date for Disposal"/>
                                <label for="disposaldate">Enter date for Disposal</label>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <!--                                    <div class="d-grid"><a class="btn btn-primary btn-block" href="{{ url_for('insert_stockroomdata') }}">Add</a></div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
{% endblock %}

