{% extends "base.html" %}
{% block title %}Asset Tracking{% endblock %}
{% block pagecontent %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Asset Inventory - Tracking</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Asset Tracking</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Serialized Asset Tracking.
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                ITAM Service Data
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Asset Id</th>
                        <th>Serial No</th>
                        <th>Asset Tag</th>
                        <th>Asset State</th>
                        <th>Asset Location</th>
                        <th>Asset Stockroom No</th>
                        <th>Asset Condition</th>
                        <th>Asset Model</th>
                        <th>Assigned To</th>
                        <th>Employee Id</th>
                        <th>Creation Date</th>
                        <th>Update Date</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Asset Id</th>
                        <th>Serial No</th>
                        <th>Asset Tag</th>
                        <th>Asset State</th>
                        <th>Asset Location</th>
                        <th>Asset Stockroom No</th>
                        <th>Asset Condition</th>
                        <th>Asset Model</th>
                        <th>Assigned To</th>
                        <th>Employee Id</th>
                        <th>Creation Date</th>
                        <th>Update Date</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for asset_data in assetData %}
                    <tr>
                        <td>{{asset_data.asset_id}}</td>
                        <td>{{asset_data.serial_no}}</td>
                        <td>{{asset_data.asset_tag}}</td>
                        <td>{{asset_data.asset_state}}</td>
                        <td>{{asset_data.asset_location}}</td>
                        <td>{{asset_data.asset_room_no}}</td>
                        <td>{{asset_data.asset_condition}}</td>
                        <td>{{asset_data.asset_model}}</td>
                        <td>{{asset_data.assigned_to}}</td>
                        <td>{{asset_data.employee_id}}</td>
                        <td>{{asset_data.creation_date}}</td>
                        <td>{{asset_data.update_date}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/datatables-simple-demo.js')}}"></script>
{% endblock %}
