{% extends "base.html" %}
{% block title %}Request Fulfillment{% endblock %}
{% block pagecontent %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Request Fulfillment Process</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('requests_fulfillment') }}">Request Fulfillment</a>
            </li>
            <li class="breadcrumb-item active">Request Fulfillment Process</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    IT Support Person to verify the request and Fulfill the Requests.
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <form action="/requests_fulfillment_process" method="post">
                    <div class="mb-3">

                        <div class="col-md-4">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                                <span class="closebtnalert" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="tno" name="tno" type="text"
                                       placeholder="Ticket No"/>
                                <label for="tno">Ticket No</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="eid" name="eid" type="text"
                                       placeholder="Employee Id"/>
                                <label for="eid">Employee Id</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="ename" name="ename" type="text"
                                       placeholder="Employee Name"/>
                                <label for="ename">Employee Name</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="tpriority" name="tpriority" type="text"
                                       placeholder="Priority"/>
                                <label for="tpriority">Ticket Priority</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="tmodel" name="tmodel" type="text"
                                       placeholder="Model"/>
                                <label for="tmodel">Asset Model</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="assettag" name="assettag" type="text"
                                       placeholder="Model"/>
                                <label for="assettag">Asset Tag</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="assetserialno" name="assetserialno" type="text"
                                       placeholder="Model"/>
                                <label for="assetserialno">Asser Serial No</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="assetunits" name="assetunits" type="text"
                                       placeholder="No of Units"/>
                                <label for="assetunits">No of Units Request</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="trequest_type" name="trequest_type" type="text"
                                       placeholder="Service Request Type"/>
                                <label for="trequest_type">Service Request Type</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="supportservice" name="supportservice" type="text"
                                       placeholder="Support Service"/>
                                <label for="supportservice">Support Type</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="tcomments" name="tcomments" type="text"
                                       placeholder="Additional Comments"/>
                                <label for="tcomments">Additional Comments</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="tstatus" name="tstatus" type="text"
                                        placeholder="Select State of Asset"/>
                                <option value="Backlog">Backlog</option>
                                <option value="Done">Done</option>
                                <option value="Open">Open</option>
                                </select>
                                <label for="tstatus">Status</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="tcreation" name="tcreation" type="text"
                                   placeholder="Ticket Creation Date" readonly/>
                            <label for="tcreation">Ticket Creation Date</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <input type="checkbox" id="talert" name="talert" value="Yes"
                               checked/>
                        <label for="talert">Send Pickup Notification Alert to user.</label>
                        <div class="form-floating mb-3"></div>
                    </div>

                    <div class="col-md-4">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Done</button>
                        </div>
                        <!--                                    <div class="d-grid"><a class="btn btn-primary btn-block" href="{{ url_for('insert_stockroomdata') }}">Add</a></div>-->
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="{{url_for('static',filename='js/dataretrieve.js')}}"></script>
<script src="{{url_for('static',filename='js/clearstorage.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
{% endblock %}
