{% extends "base.html" %}
{% block title %}StockRoom Management{% endblock %}
{% block pagecontent %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Stockroom Management</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ url_for('home_page') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Stockroom Management</li>
            </ol>
            <div class="card mb-4">
                <!--                            <div class="card-body">-->
                <a class="nav-link" href="{{ url_for('insert_stockroomdata') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-pen-to-square"></i>
                        Add New Stockroom
                    </div>
                </a>
                <a class="nav-link" href="{{ url_for('update_stockroom') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-pen-to-square"></i>
                        Update the Stockroom
                    </div>
                </a>


                <!--                            </div>-->
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable for Stockroom
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>Stockroom Id</th>
                            <th>Building</th>
                            <th>Room</th>
                            <th>Address</th>
                            <th>Security Control</th>
                            <th>Stockroom Manager</th>
                            <th>Creation Date</th>
                            <th>Update Date</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Stockroom Id</th>
                            <th>Building</th>
                            <th>Room</th>
                            <th>Address</th>
                            <th>Security Control</th>
                            <th>Stockroom Manager</th>
                            <th>Creation Date</th>
                            <th>Update Date</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for st_data in stockroomData %}
                        <tr>
                            <td>{{st_data.stockroom_id}}</td>
                            <td>{{st_data.building}}</td>
                            <td>{{st_data.room_number}}</td>
                            <td>{{st_data.address}}</td>
                            <td>{{st_data.security_control}}</td>
                            <td>{{st_data.stockroom_manager}}</td>
                            <td>{{st_data.creation_date}}</td>
                            <td>{{st_data.updated_date}}</td>
                        </tr>
                        {% endfor %}
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Old Main</td>-->
<!--                            <td>101</td>-->
<!--                            <td>1222 west main</td>-->
<!--                            <td>physical lock</td>-->
<!--                            <td>C jordan</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>2</td>-->
<!--                            <td>Old Main</td>-->
<!--                            <td>102</td>-->
<!--                            <td>1222 west main</td>-->
<!--                            <td>physical lock</td>-->
<!--                            <td>C jordan</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>3</td>-->
<!--                            <td>Old Main</td>-->
<!--                            <td>103</td>-->
<!--                            <td>1222 west main</td>-->
<!--                            <td>physical lock</td>-->
<!--                            <td>C jordan</td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/datatables-simple-demo.js')}}"></script>
{% endblock %}

